@charset "utf-8";
html {
  font: 1em sans-serif, simhei;
  color: black;
  background-color: white;
}
*[class|=webapp] {
  margin: 0;
  padding: 0;
}
*[class|=webapp][class*=-m] {
  margin: 0 auto;
}
*[class|=webapp][class*=-m1] {
  margin: 0.3rem;
}
*[class|=webapp][class*=-m2] {
  margin: 0.6rem;
}
*[class|=webapp][class*=-p1] {
  padding: 0.3rem;
}
*[class|=webapp][class*=-p2] {
  padding: 0.6rem;
}
*[class|=webapp][class*=-bl] {
  border: 0.09rem solid black;
}
*[class|=webapp][class*=-br] {
  border-radius: 0.3rem;
}
*[class|=webapp][class*=-bs] {
  box-shadow: 0 0.5em 2em rgba(27, 31, 35, 0.175);
}
*[class|=webapp][class*=-left] {
  text-align: left;
}
*[class|=webapp][class*=-center] {
  text-align: center;
}
*[class|=webapp][class*=-right] {
  text-align: right;
}
body.webapp a {
  color: #0366d6;
  outline: none;
  text-decoration: none;
}
body.webapp a:hover {
  text-decoration: underline;
}
body.webapp a.danger {
  color: #cb2431;
}
body.webapp > div > footer {
  padding: 0.6rem;
}
nav.webapp ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}
nav.webapp ul > li {
  display: inline-block;
}
nav.webapp ul > li > a, nav.webapp ul > li details {
  padding: 0.6rem;
  display: inline-block;
}
form[class|=webapp] {
  display: inline-block;
}
form[class|=webapp] > fieldset {
  border: none;
}
table[class|=webapp] {
  border-collapse: collapse;
  border-spacing: 0.1rem;
  empty-cells: show;
}
table[class|=webapp] > tbody > tr > td {
  border: 1px solid black;
}
table[class|=webapp][class*=-even] > tbody > tr:nth-child(even) {
  background-color: #c0c0c0;
}
