@charset "utf-8";
//基础颜色
$foreground: black;
$background: white;
$link: rgb(3, 102, 214);
$hint: rgb(192, 192, 192);
$button: rgb(239, 243, 246);
$border: rgb(27, 31, 35);
$primary: rgb(40, 167, 69);
$danger: rgb(203, 36, 49);
//定义方法
@mixin font($size:1rem){
	font: $size sans-serif, simhei;
}
@mixin appearance($type:none){
	appearance: $type;
	-moz-appearance: $type;
	-webkit-appearance: $type;
}
@mixin margin($size:1){
	margin: 0.3rem * $size;
}
@mixin padding($size:1){
	padding: 0.3rem * $size;
}
@mixin borderliner($color:$foreground){
	border: 0.09rem solid $color;
}
@mixin borderradius($size:1){
	border-radius: 0.3rem * $size;
}
@mixin textalign($position){
	text-align: $position;
}
@mixin dialog{
	@include borderliner;
	@include borderradius;
	background-color: $background;
	
	border: 1px solid rgba($border, 0.23);
	border-radius: 0.5em;
	box-shadow: 0 0.5em 2em rgba($border, 0.175);
}
html{
	@include font(1em);
	color: $foreground;
	background-color: $background;
	>body{
		margin: 0;
		padding: 0;
		a{
			color: $link;
			outline: none;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&.danger{
				color: $danger;
			}
		}
		>div:first-child{
			display: grid;
			grid-template-columns: auto 1fr;
			>header:first-child{
				grid-column: 1 / -1;
			}
			>aside,>main{
				margin-left: 1rem;
			}
			>aside{
				display: flex;
				flex-direction: column;
				
			}
			>footer:last-child{
				grid-column: 1 / -1;
				@include padding(2);
			}
		}
	}
}

[class|=webapp]{
	margin: 0;
	padding: 0;
	&[class*=-m]{
		margin: 0 auto;
	}
	
	&[class*=-m1]{
		@include margin(1);
	}
	&[class*=-m2]{
		@include margin(2);
	}
	&[class*=-p1]{
		@include padding(1);
	}
	&[class*=-p2]{
		@include padding(2);
	}
	&[class*=-bl]{
		@include borderliner;
	}
	&[class*=-br]{
		@include borderradius;
	}
	&[class*=-bs]{
		box-shadow: 0 0.5em 2em rgba($border, 0.175);
	}
	&[class*=-left]{
		@include textalign(left);
	}
	&[class*=-center]{
		@include textalign(center);
	}
	&[class*=-right]{
		@include textalign(right);
	}


	&[class*=-ib]{
		display: inline-block;
	}
	&[class*=-none]{
		display: none;
	}
	&[class*=-hidden]{
		visibility: hidden;
	}
	&[class*=-dialog]{
		
		@include borderliner;
		@include borderradius;
		background-color: $background;
		
		border: 1px solid rgba($border, 0.23);
		border-radius: 0.5em;
		box-shadow: 0 0.5em 2em rgba($border, 0.175);
	}
	&[class*=-codeblock]{
		white-space: pre;
		font-family: Consolas, monospace;
	}
	&[class*=-highlight] a:hover{
		background-color: $link;
		color: $background;
	}
	

	&[class*=-ultree]{
		ul{
			padding: 0;
			position: relative;
			margin-left: 1rem;
			list-style-type: none;
			&:before{
				content: "";
				width: 0;
				border-left: 1px solid;
				position: absolute;
				top: 0;
				bottom: 0;
			}
			>li{
				padding-left: 24px;
				line-height: 24px;
				position: relative;
				&:before{
					content: "";
					width: 1rem;
					border-top: 1px solid;
					position: absolute;
					top: 12px;
					left: 0;
				}
				&:last-child:before{
					background-color: $background;
					bottom: 0;
				}
			}
		}
	}



		//树状
		// details.tree{
		// 	padding: 8px;
		// 	ul{
		// 		position: relative;
		// 		margin-left: 4px;
		// 		&:before{
		// 			content: "";
		// 			width: 0;
		// 			border-left: 1px solid;
		// 			position: absolute;
		// 			top: 0;
		// 			bottom: 0;
		// 			left: 0;
		// 		}
		// 		li{
		// 			padding-left: 24px;
		// 			line-height: 24px;
		// 			position: relative;
		// 			&:before{
		// 				content: "";
		// 				width: 18px;
		// 				border-top: 1px solid;
		// 				position: absolute;
		// 				top: 12px;
		// 				left: 0;
		// 			}
		// 			&:last-child:before{
		// 				background-color: $background;
		// 				bottom: 0;
		// 			}
		// 		}
		// 		details[open]>summary,.selected{
		// 			color: $danger;
		// 		}
		// 	}
		// }
	&[class*=-button]{
		color: $foreground;
		white-space: nowrap;
		padding: 0 1rem;
		border: 1px solid rgba($border, 0.2);
		border-radius: 3px;
		
		background-color: $button;
		background-image: linear-gradient(-180deg, lighten($button, 3.4%) 0%, $button 90%);
		&:hover{
			background-image: linear-gradient(-180deg, lighten($button, 0.2%) 0%, darken($button, 2.8%) 90%);
			border-color: rgba($border, 0.35);
			text-decoration: none;
		}
		&:focus{
			z-index: 1;
			box-shadow: 0 0 0 0.2em rgba($link, 0.3);
		}
		&:active{
			background-image: none;
			background-color: darken($button, 2%);
			border-color: rgba($border, 0.35);
			box-shadow: inset 0 0.15em 0.3em rgba($border, 0.15);
		}
		//主要
		&.primary{
			color: $background;
			background-color: $primary;
			background-image: linear-gradient(-180deg, lighten($primary, 10%) 0%, $primary 90%);
			&:hover{
				background-image: linear-gradient(-180deg, lighten($primary, 7.6%) 0%, darken($primary, 2%) 90%);
				border-color: rgba($border, 0.5);
			}
			&:focus{
				box-shadow: 0 0 0 0.2em rgba(lighten($primary, 10%), 0.4);
			}
			&:active{
				background-image: none;
				background-color: darken($primary, 1.4%);
				border-color: rgba($border, 0.5);
			}
		}
		//危险
		&.danger{
			color: $danger;
			&:hover{
				color: $background;
				background-image: linear-gradient(-180deg, lighten($danger, 10%) 0%, $danger 90%);
				border-color: rgba($border, 0.5);
			}
			&:focus{
				box-shadow: 0 0 0 0.2em rgba($danger, 0.4);
			}
			&:active{
				color: $background;
				background-image: none;
				background-color: darken($danger, 5%);
				border-color: rgba($border, 0.5);
			}
		}
	}
	&[class*=-bar]{
		display: flex;
		gap: 1rem;
		>input,>textarea,>a,>button,>select,>details{
			font-size: 1rem;
			line-height: 1.8rem;
			
		}
		>input:not([type=checkbox],[type=radio]),>textarea{
			padding: 0 0 0 .4rem;
			flex: 1 1 12rem;
			
			border-radius: 3px;
			border: 1px solid lighten($border, 72%);
			background-color: rgba($background, 0.6);
			box-shadow: inset 0 1px 2px rgba($border, 0.075);
			
			text-overflow: ellipsis;
			&:focus{
				outline: none;
				box-shadow: inset 0 1px 2px rgba($border, 0.075), 0 0 0 0.2em rgba($link, 0.3);
				border-color: lighten($link, 13.3%);
			}
			&:invalid{
				box-shadow: 0 0 0 0.2em rgba($danger, 0.4);
				border-color: $danger;
			}
			&:disabled{
				pointer-events: none;
				box-shadow: none;
				background-color: lighten($hint, 20%);
			}
			&::placeholder{
				color: $hint;
			}
		}
		>a,>button,>select,>details{
			@extend [class|=webapp][class*=-button];
		}
		>select{
			@extend select[class|=webapp];
		}
		>details{
			@extend details[class|=webapp][class*=-button];
		}
		&.merge{
			gap: 0;
			>input,>textarea,>a,>button,>select,>details{
				&:not(:first-child, :last-child){
					border-radius: 0;
				}
				&:first-child{
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
				&:last-child{
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
}


nav[class|=webapp]{
	ul{
		margin: 0;
		padding: .4rem;
		list-style-type: none;
		>li{
			>a,>details{
				display: block;
				padding: .4rem 1rem;
				white-space: nowrap;
			}
			>details{
				color: $link;
				position: relative;
				>summary{
					cursor: pointer;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	ul:first-child{
		>li{
			display: inline-block;
			>details{
				>ul{
					top: auto;
					left: 0;
				}
			}
		}
	}
	ul:not(ul:first-child){
		@include dialog;
		position: absolute;
		top: -.4rem;
		left: 100%;
		z-index: 9999;
	}
	&[class*=-highlight]{
		details:hover{
			color: $background;
			background-color: $link;
		}
	}
	
}

form[class|=webapp]{
	display: inline-flex;
	gap: 1rem;
	flex-direction: column;
	>fieldset{
		border: none;
		margin: 0;
		padding: 0;
		@extend [class|=webapp][class*=-bar];
		>legend{
			@include padding(1);
		}
		>a,>button,>select,>details{
			width: 20rem;
		}
	}
	&[class*=-cond]{
		@include padding(2);
		>fieldset:first-child{
			display: none;
		}
		>fieldset:not(:first-child){
			@extend [class|=webapp][class*=-bar].merge;
		}
	}
}

table[class|=webapp]{
	display: inline-table;
	border: 1px solid $foreground;
	border-collapse: collapse;
	//border-spacing: 4px;
	//empty-cells: show;
	td{
		
		padding: 0.4rem;
		&:empty::before{
			content: 'NULL';
			color: $hint;
		}
		// >span{
		// 	display: block;
		// 	overflow: hidden;
		// 	text-overflow: ellipsis;
		// }
	}
	>thead{
		>tr:first-child{
			color: $background;
			background-color: $link;
			
		}
	}
	>tbody{
		>tr.fieldset{
			background-color: $hint;
			>td{
				
				white-space: nowrap;
			}
		}
		>tr:not(.fieldset)>td{
			overflow: hidden;
			white-space: pre;
			text-overflow: ellipsis;
		}
	}
	>tfoot{
		background-color: $button;
	}
	
	&[class*=-grid]{
		>tbody>tr>td{
			border: 1px solid $foreground;
		}
	}

	// &[class*=-highlight]{
	// 	>tbody>tr:hover{
	// 		background-color: $link;
	// 		>td{
	// 			color: $background;
	// 		}
	// 	}
	// }
	
	
	// &[class*=-even]{
	// 	>tbody>tr:nth-child(even) {
	// 		background-color: $hint;
	// 	}
	// }

	// &[class*=-top]{
	// 	td{
	// 		vertical-align: top;
	// 	}
		
	// }

}

ul[class|=webapp]{
	list-style-type: none;
	
	&[class*=-select]{
		padding: .4rem 0;
		line-height: 2rem;
		>li{
			&:hover{
				background-color: $hint;
			}
			>label{
				display: block;
				padding-right: .8rem;
				>input{
					margin: 0 .6rem;
				}
			}
			
		}
	}
}

select[class|=webapp]{
	outline: none;
	>option{
		background-color: $background;
	}
}

details[class|=webapp]{
	display: inline-block;
	&[class*=-button]{
		position: relative;
		padding: 0;
		>summary{
			cursor: default;
			padding: 0 1rem;
			// &::before{
			// 	content: attr(data-placeholder);
			// }
		}
		>:not(summary){
			display: block;
			position: absolute;
			@extend [class|=webapp][class*=-dialog];
			z-index: 9999;
		}
	}
}