@charset "utf-8";
html {
  font: 1em sans-serif, simhei;
  color: black;
  background-color: white;
}
[class|=webapp] {
  margin: 0;
  padding: 0;
}
[class|=webapp][class*=-m] {
  margin: 0 auto;
}
[class|=webapp][class*=-m1] {
  margin: 0.3rem;
}
[class|=webapp][class*=-m2] {
  margin: 0.6rem;
}
[class|=webapp][class*=-p1] {
  padding: 0.3rem;
}
[class|=webapp][class*=-p2] {
  padding: 0.6rem;
}
[class|=webapp][class*=-bl] {
  border: 0.09rem solid black;
}
[class|=webapp][class*=-br] {
  border-radius: 0.3rem;
}
[class|=webapp][class*=-bs] {
  box-shadow: 0 0.5em 2em rgba(27, 31, 35, 0.175);
}
[class|=webapp][class*=-left] {
  text-align: left;
}
[class|=webapp][class*=-center] {
  text-align: center;
}
[class|=webapp][class*=-right] {
  text-align: right;
}
[class|=webapp][class*=-ib] {
  display: inline-block;
}
[class|=webapp][class*=-none] {
  display: none;
}
[class|=webapp][class*=-hidden] {
  visibility: hidden;
}
[class|=webapp][class*=-dialog] {
  border: 0.09rem solid black;
  border-radius: 0.3rem;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.23);
  border-radius: 0.5em;
  box-shadow: 0 0.5em 2em rgba(27, 31, 35, 0.175);
}
[class|=webapp][class*=-highlight] a:hover {
  background-color: #0366d6;
  color: white;
}
body[class|=webapp] a {
  color: #0366d6;
  outline: none;
  text-decoration: none;
}
body[class|=webapp] a:hover {
  text-decoration: underline;
}
body[class|=webapp] a.danger {
  color: #cb2431;
}
body[class|=webapp] > div div {
  display: table-row;
}
body[class|=webapp] > div div > aside {
  max-width: 16rem;
}
body[class|=webapp] > div div > aside, body[class|=webapp] > div div > main {
  vertical-align: top;
  display: table-cell;
}
body[class|=webapp] > div > footer {
  padding: 0.6rem;
}
nav[class|=webapp] ul {
  margin: 0;
  padding: 0.4rem;
  list-style-type: none;
}
nav[class|=webapp] ul > li > a, nav[class|=webapp] ul > li > details {
  display: block;
  padding: 0.4rem 1rem;
  white-space: nowrap;
}
nav[class|=webapp] ul > li > details {
  color: #0366d6;
  position: relative;
}
nav[class|=webapp] ul > li > details > summary {
  cursor: pointer;
}
nav[class|=webapp] ul > li > details > summary:hover {
  text-decoration: underline;
}
nav[class|=webapp] ul:first-child > li {
  display: inline-block;
}
nav[class|=webapp] ul:first-child > li > details > ul {
  top: auto;
  left: 0;
}
nav[class|=webapp] ul:not(ul:first-child) {
  border: 0.09rem solid black;
  border-radius: 0.3rem;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.23);
  border-radius: 0.5em;
  box-shadow: 0 0.5em 2em rgba(27, 31, 35, 0.175);
  position: absolute;
  top: -0.4rem;
  left: 100%;
}
nav[class|=webapp][class*=-highlight] details:hover {
  color: white;
  background-color: #0366d6;
}
form[class|=webapp] {
  display: inline-block;
}
form[class|=webapp] > fieldset {
  border: none;
}
table[class|=webapp] {
  border-collapse: collapse;
  border-spacing: 0.1rem;
  empty-cells: show;
  display: inline;
}
table[class|=webapp][class*=-grid] > tbody > tr > td {
  border: 1px solid black;
}
table[class|=webapp][class*=-even] > tbody > tr:nth-child(even) {
  background-color: #c0c0c0;
}
table[class|=webapp][class*=-span] span {
  display: block;
  white-space: nowrap;
}
table[class|=webapp][class*=-top] td {
  vertical-align: top;
}
table[class|=webapp][class*=-ellipsis] td {
  text-overflow: ellipsis;
}
