@charset "utf-8";
//基础颜色
$foreground: black;
$background: white;
$link: rgb(3, 102, 214);
$hint: rgb(192, 192, 192);
$button: rgb(239, 243, 246);
$border: rgb(27, 31, 35);
$primary: rgb(40, 167, 69);
$danger: rgb(203, 36, 49);
//定义方法
@mixin font($size:1rem){
	font: $size sans-serif, simhei;
}
@mixin appearance($type:none){
	appearance: $type;
	-moz-appearance: $type;
	-webkit-appearance: $type;
}
@mixin margin($size:1){
	margin: 0.3rem * $size;
}
@mixin padding($size:1){
	padding: 0.3rem * $size;
}
@mixin borderliner($color:$foreground){
	border: 0.09rem solid $color;
}
@mixin borderradius($size:1){
	border-radius: 0.3rem * $size;
}
@mixin textalign($position){
	text-align: $position;
}
@mixin dialog{
	@include borderliner;
	@include borderradius;
	background-color: $background;
	
	border: 1px solid rgba($border, 0.23);
	border-radius: 0.5em;
	box-shadow: 0 0.5em 2em rgba($border, 0.175);
}
html{
	@include font(1em);
	color: $foreground;
	background-color: $background;
	
}
*[class|=webapp]{
	margin: 0;
	padding: 0;
	&[class*=-m]{
		margin: 0 auto;
	}
	
	&[class*=-m1]{
		@include margin(1);
	}
	&[class*=-m2]{
		@include margin(2);
	}
	&[class*=-p1]{
		@include padding(1);
	}
	&[class*=-p2]{
		@include padding(2);
	}
	&[class*=-bl]{
		@include borderliner;
	}
	&[class*=-br]{
		@include borderradius;
	}
	&[class*=-bs]{
		box-shadow: 0 0.5em 2em rgba($border, 0.175);
	}
	&[class*=-left]{
		@include textalign(left);
	}
	&[class*=-center]{
		@include textalign(center);
	}
	&[class*=-right]{
		@include textalign(right);
	}


	&[class*=-ib]{
		display: inline-block;
	}
	&[class*=-none]{
		display: none;
	}
	&[class*=-hidden]{
		visibility: hidden;
	}
	&[class*=-dialog]{
		
		@include borderliner;
		@include borderradius;
		background-color: $background;
		
		border: 1px solid rgba($border, 0.23);
		border-radius: 0.5em;
		box-shadow: 0 0.5em 2em rgba($border, 0.175);
	}
	
}
body.webapp{
	a{
		color: $link;
		outline: none;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
		&.danger{
			color: $danger;
		}
	}
	>div{
		>footer{
			@include padding(2);
		}
	}	
}
nav[class|=webapp]{
	ul{
		list-style-type: none;
	}
	ul:first-child{
		margin: 0;
		padding: 0;
		>li{
			display: inline-block;
		}
	}
	ul:not(ul:first-child){
		@include dialog;
		margin: 0;
		padding: 0.4rem 0;
		position: absolute;
		line-height: 1.8rem;
		display: inline-block;
		>li{
			>details{
				position: relative;
			}
			>a,>details>summary{
				display: inline-block;
				padding: 0 1rem;
				white-space: nowrap;
				cursor: pointer;
			}
			>details>summary:hover{
				text-decoration: underline;
			}
		}
	}
	

	&[class*=-highlight]{
		ul:not(ul:first-child){
			>li:hover{
				background-color: $link;
				>a,>details>summary{
					color: $background;
					text-decoration: none;
				}
			}
		}
	}
}
form[class|=webapp]{
	display: inline-block;
	>fieldset{
		border: none;
	}
}

table[class|=webapp]{
	border-collapse: collapse;
	border-spacing: 0.1rem;
	empty-cells: show;
	
	&[class*=-grid]{
		>tbody>tr>td{
			border: 1px solid $foreground;
		}
	}
	&[class*=-even]{
		>tbody>tr:nth-child(even) {
			background-color: $hint;
		}
	}
}