@charset "utf-8";
*[class|=webapp] {
  margin: 0;
  padding: 0;
}
*[class|=webapp][class*=-m1] {
  margin: 0.3rem;
}
*[class|=webapp][class*=-m2] {
  margin: 0.6rem;
}
*[class|=webapp][class*=-p1] {
  padding: 0.3rem;
}
*[class|=webapp][class*=-p2] {
  padding: 0.6rem;
}
*[class|=webapp][class*=-bl] {
  border: 0.09rem solid black;
}
*[class|=webapp][class*=-br] {
  border-radius: 0.3rem;
}
*[class|=webapp][class*=-bs] {
  box-shadow: 0 0.5em 2em rgba(27, 31, 35, 0.175);
}
*[class|=webapp][class*=-left] {
  text-align: left;
}
*[class|=webapp][class*=-center] {
  text-align: center;
}
*[class|=webapp][class*=-right] {
  text-align: right;
}
*[class|=webapp][class*=-dialog] {
  border: 0.09rem solid black;
  border-radius: 0.3rem;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.23);
  border-radius: 0.5em;
  box-shadow: 0 0.5em 2em rgba(27, 31, 35, 0.175);
}
nav[class|=webapp] ul {
  list-style: none;
}
nav[class|=webapp] li {
  white-space: nowrap;
}
nav[class|=webapp] a {
  padding: 8px 16px;
  display: block;
}
nav[class|=webapp] details {
  position: relative;
  display: inline-block;
}
nav[class|=webapp] details summary {
  padding: 8px 16px;
  cursor: pointer;
}
nav[class|=webapp] details > ul {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  border: 0.09rem solid black;
  border-radius: 0.3rem;
  background-color: white;
  border: 1px solid rgba(27, 31, 35, 0.23);
  border-radius: 0.5em;
  box-shadow: 0 0.5em 2em rgba(27, 31, 35, 0.175);
}
form.webapp {
  padding: 0.6rem;
}
form.webapp > fieldset {
  border: none;
}
table.webapp {
  border-collapse: collapse;
  border-spacing: 0.1rem;
  empty-cells: show;
}
table.webapp, table.webapp th, table.webapp td {
  border: 0.09rem solid black;
  white-space: nowrap;
}
body.webapp {
  font: 1rem sans-serif, simhei;
  color: black;
}
body.webapp, body.webapp dl, body.webapp ul, body.webapp pre, body.webapp input, body.webapp textarea, body.webapp fieldset {
  margin: 0;
  padding: 0;
}
body.webapp summary, body.webapp summary::-webkit-details-marker {
  color: black;
}
body.webapp a, body.webapp summary {
  color: #0366d6;
  outline: none;
  text-decoration: none;
}
body.webapp a:hover, body.webapp summary:hover {
  text-decoration: underline;
}
body.webapp a.danger, body.webapp summary.danger {
  color: #cb2431;
}
body.webapp > article > header > nav > ul > li {
  display: inline-block;
}
body.webapp > article > section {
  display: table-row;
}
body.webapp > article > section > aside, body.webapp > article > section > section {
  vertical-align: top;
  display: table-cell;
}
body.webapp > article > section > section {
  padding: 1.2rem;
}
body.webapp > article > footer {
  padding: 0.6rem;
}
